
<div>
  <div class="group">
    <label for="name">Name</label>
    <input type="text" id="name" (change)="UpdateFactory()" [(ngModel)]="factory.name">
  </div>

  <div class="group">
    <label>Lower Bound</label>
    <input type="number" [(ngModel)]="lowerBound">
  </div>

  <div class="group">
    <label>Upper Bound</label>
    <input type="number" [(ngModel)]="upperBound">
  </div>

  <div class="group">
    <label># of Children</label>
    <select [(ngModel)]="childCount">
      <option *ngFor="let opt of childCountOption" [value]="opt">{{opt}}</option>
    </select>
  </div>

  <div class="group">
    <button (click)="GenerateChildren()">Generate Children</button>
  </div>

  <div class="group">
    <button class="btn-danger" (click)="DeleteFactory()">Delete</button>
  </div>

  <p *ngFor="let child of factory.children">{{child}}</p>


</div>